
/*fonts
  font-family: 'Cinzel', serif;*/


  @media only screen and (max-width: 480px){

    .office{
      display:none;
    }


  }

@media only screen and (max-width: 980px){
  .info{
    idth:300px;
    height:500px

  }
  .infoText{
    width: 380px;
    height: 400px;

  }
}




/*global*/
body {
  padding-top: 80px;
  background-image: url(../image/AsgardBG.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 400px;

}


.navbar{
  height: 80px;
  opacity: .8;
}
.navbar-brand>img{
  height: 80px;
  width:auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1032;
}
#navbar>ul{
  margin-top: 10px;

}
#navbar>ul>li{
  font-size: 20px;
  font-family: 'Cinzel', serif;
}

.container{
  height: 100vh;
}

/*home page*/

.spacer{
  width:100%;
  height: 20px;
}
.spacer2{
  width:100%;
  height:120px;
}

.office{
  /*position: relative;
  top:10%;*/
  width:400px;
  height:400px;
  background-color: #000;
  color: #fff;

}

.info{
  position: absolute;
  top:0;
  left:0;
  width:400px;
  height:400px;
  background-color: #000;
  opacity: 0.8;
}
#infoText{
    position: absolute;
    top:0;
    left:0;
    z-index: 1039;
    color:#fff;
    line-height: 2;
    margin: 10px 10px;
    width: 380px;
    height: 400px;

}
.contact{
  width: 300px;
  height: 100px;
  margin: 0 0 0 2%;


}
#contactbox{
  position: absolute;;
  top:0;
  left:0;
  width:300px;
  height:80px;
  background-color: #000;
  opacity: .8;
  z-index: -1039;
}
.office>p, .office>img{
  text-align: center;
}

.socialMedia{
  text-align: right;
  height: 30px;
  width: 30px;

}
/*About page*/

#about{
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 500px;
  background-color:#000;
  opacity: .8;
}
#aboutText{
  position: absolute;
  top:0;
  left:0;
  color: #fff;
  line-height: 2;
  margin: 10px 10px;
  width:780px;
  text-align: center;

}

/*employee page*/
#emBox{
  position: absolute;
  top:0;
  left: 0;
  width: 800px;
  height: 870px;
  background-color:#000;
  opacity: .8;
}

#emBoxContent{
  position: absolute;
  top:0;
  left:0;
  width:760px;
  padding:20px;
  color:#fff;
}
.emImage{
  width: 150px;
  height: 150px;
  background-color: #fff;

}
/*product page*/
#product{
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 1650px;
  background-color: #000;
  opacity:.8;
}
#productText{
 position: absolute;
 top:0;
 left:0;
 width:580px;
 max-width: 580px;
 max-height: 700px;
 margin: 10px 10px;
 color: #fff;
 text-align: center;
}
.bar{
  width: 100%;
  height: 10px;
  background-color: #a03b29;
}
.bar2{
  width:100%;
  height: 2px;
  background-color: #fff;
}
ul{
  list-style: none;
  text-align: left;
}
ul>lh{
  text-decoration: underline;
}
