
/*fonts
  font-family: 'Cinzel', serif;*/

  @media only screen and (width: 1199px){
    #product{
      height:2300px!important;
    }

  }

  @media only screen and (max-width: 980px){
    .info{
      width:300px;
      height:550px

    }
    .infoText{
      width: 380px;
      height: 400px;

    }
    #product{
      height: 2800px !important;
    }

  }

  @media only screen and (max-width: 767px){
    #navbar>ul>li{
     background-color:#222;
     color: #fff;
   }
  }






  @media only screen and (max-width: 480px){


    #emBox{
      height: 1490px !important;
      width: 400px !important;
    }
    #emBoxContent{
      width: 400px !important;
      text-align: center !important;
    }
    .emImage{
      margin: 0 auto !important;
    }

    #product{
      height: 2800px !important;
      width: 100%  !important;
    }
    #productText{
      width: 95vw !important;


    }

    .info{
      height: 550px !important;
    }

     #navbar>ul>li{
      background-color:#222;
      color: #fff;

    }
    #about{
      width: 100% !important;
      height: 100vh !important;

    }
    #aboutText{
      width: 90% !important;
      height: 110vh !important;

    }
    #aboutText>p>img{
      display: none !important;

    }
    .bar{
      width: 95% !important;
    }
  }





/*global*/
body {
  padding-top: 80px;
  background-image: url(../image/AsgardBG.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;


}


.navbar{
  height: 80px;
  opacity: .8;

}
.navbar-brand>img{
  height: 80px;
  width:auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1032;
}
#navbar>ul{
  margin-top: 10px;

}
#navbar>ul>li{
  font-size: 20px;
  font-family: 'Cinzel', serif;
}



.socialMedia{
  text-align: right;
  height: 30;
  width: 30px;

}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #222222;
  color: #fff !important;
  font-size: 12px;
  padding:5px;
  z-index: 5000;
}
.footerAbout{
  position: absolute;
  bottom: 0;
  color: #fff!important;

}
/*home page*/

.spacer{
  width:100%;
  height: 20px;
}
.spacer2{
  width:100%;
  height:120px;
}

.office{
  /*position: relative;
  top:10%;*/
  width:400px;


  color: #fff;

}

.info{
  position: absolute;
  top:0;
  left:10;
  width:400px;
  height:490px;
  background-color: #000;
  opacity: 0.8;
}
#infoText{
    position: absolute;
    top:0;
    left:10;
    z-index: 1039;
    color:#fff;
    line-height: 2;
    margin: 10px 10px;
    width: 380px;
    height: 400px;

}

.office>p, .office>img{
  text-align: center;
}


/*About page*/

#about{
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 530px;
  background-color:#000;
  opacity: .8;
}
#aboutText{
  position: absolute;
  top:0;
  left:0;
  color: #fff;
  line-height: 2;
  margin: 10px 10px;
  width:780px;
  text-align: center;

}

/*employee page*/
#emBox{
  position: absolute;
  top:0;
  left: 0;
  width: 600px;
  height: 950px;
  background-color:#000;
  opacity: .8;
}

#emBoxContent{
  position: absolute;
  top:0;
  left:0;
  width:760px;
  padding:20px;
  color:#fff;
}
.emImage{
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin-left: 10px;

}
/*product page*/
#product{
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 1750px;
  background-color: #000;
  opacity:.8;
}
#productText{
 position: absolute;
 top:0;
 left:0;
 width:580px;

 margin: 10px 10px;
 color: #fff;
 text-align: center;
}
.bar{
  width: 100%;
  height: 10px;
  background-color: #a03b29;
}
.bar2{
  width:100%;
  height: 2px;
  background-color: #fff;
}
ul{
  list-style: none;
  text-align: left;
}
ul>lh{
  text-decoration: underline;
}
